.card {
  color: var(--white);
  background-color: var(--secondary);

  width: fit-content;
  padding: 24px;

  margin: 32px auto auto;
}

h2 {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

