:host {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card {
  background-color: var(--secondary);
  border-radius: 10px;

  padding: 24px;
}

.big {
  width: 100%;
  max-width: 1000px;

  position: relative;
}

.name {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
}

img.ngoBanner {
  border-radius: 30px;
  height: 60px !important;
  width: 60px !important;
}

.uploadBanner {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  background-color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;
}

.editButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.banner-button{
  width: 84px !important;
  height: 84px !important;
}
