<input hidden type="file" #fileInput (change)="uploadImage($event)" />

<div class="card big">
  <button mat-icon-button class="editButton" (click)="openEditNgoDialog()">
    <mat-icon fontIcon="edit"></mat-icon>
  </button>
  <div class="name">
    <img
      [src]="imageURL ?? ngoStorage.ngo?.banner_uri"
      alt="banner"
      class="ngoBanner"
      width="60"
      height="60"
      *ngIf="imageURL || ngoStorage.ngo?.banner_uri; else upload"
      (click)="fileInput.click()"
    />
    <ng-template #upload>
      <div class="uploadBanner">
        <button mat-icon-button (click)="fileInput.click()">
          <mat-icon fontIcon="upload"></mat-icon>
        </button>
      </div>
    </ng-template>
    <h2>{{ ngoStorage.ngo?.name }}</h2>
  </div>
  <p>{{ ngoStorage.ngo?.description }}</p>
</div>

<div class="card big">
  <button mat-icon-button class="editButton" (click)="openAddProjectDialog()">
    <mat-icon fontIcon="add"></mat-icon>
  </button>
  <h2>Projects</h2>
  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of ngoStorage.ngo?.projects?.projects ">
      @if(project.banner_uri) {
        <img [src]="project.banner_uri" height="100" width="200" alt="project banner">
      } @else {
        <div class="missing-img"></div>
      }
      <h3>{{project.name}}</h3>

      <div class="progress">
        <h4>Donation Goal</h4>
        <div class="progress-bar">
          <div class="progress-bar-green" [style.width.%]="project.fundraising_current*100/project.fundraising_goal"></div>
        </div>
      </div>

      <div class="progress">
        <h4>Progress</h4>
        <div class="progress-bar">
          <div class="progress-bar-green" [style.width.%]="project.progress"></div>
        </div>
      </div>

    </div>
  </div>
</div>
