<input hidden type="file" #fileInput (change)="uploadImage($event)" />

<div class="card big">
  <button mat-icon-button class="editButton" (click)="openEditNgoDialog()">
    <mat-icon fontIcon="edit"></mat-icon>
  </button>
  <div class="name">
    <img
      [src]="imageURL ?? ngoStorage.ngo?.banner_uri"
      alt="banner"
      class="ngoBanner"
      width="60"
      height="60"
      *ngIf="imageURL || ngoStorage.ngo?.banner_uri; else upload"
      (click)="fileInput.click()"
    />
    <ng-template #upload>
      <div class="uploadBanner">
        <button mat-icon-button (click)="fileInput.click()">
          <mat-icon fontIcon="upload"></mat-icon>
        </button>
      </div>
    </ng-template>
    <h2>{{ ngoStorage.ngo?.name }}</h2>
  </div>
  <p>{{ ngoStorage.ngo?.description }}</p>
</div>

<div class="card big">
  <button mat-icon-button class="editButton" (click)="openAddProjectDialog()">
    <mat-icon fontIcon="add"></mat-icon>
  </button>
  <h2>Projects</h2>
</div>
