<h2 mat-dialog-title>Edit Progress</h2>
<mat-dialog-content>
  <label [htmlFor]="'progress_input'">Progress</label>
  <mat-slider min="0" max="100" [displayWith]="formatLabel" discrete>
    <input
      matSliderThumb
      (valueChange)="data.progress = $event"
      id="progress_input"
      [value]="current"
    />
  </mat-slider>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">cancel</button>
  <button mat-button [mat-dialog-close]="data">save</button>
</mat-dialog-actions>
